:root {
    --bg-main: #36393f;
    --bg-row-alt: #32353b;
    --bg-header: #202225;
    --border-color: #3e4147;
    --text-color: white;
    --title-color: #ffffdf;
}

/* Reset stylów dla elementów panelu, by nie dziedziczyły z gry */
#tw-script-panel *, #tw-panel-opener * {
    box-sizing: border-box !important;
    font-family: Verdana, Arial, sans-serif !important;
    color: var(--text-color) !important;
}

/* Ikona - fix dla pozycji i zdarzeń */
#tw-panel-opener {
    position: fixed !important; /* Fixed zamiast absolute */
    z-index: 9999999 !important;
    cursor: move !important;
    width: 50px !important; 
    height: 50px !important;
    display: flex !important; 
    justify-content: center !important; 
    align-items: center !important;
    background: #202225 !important;
    border: 2px solid #74ff00 !important;
    border-radius: 50% !important;
    box-shadow: 0 0 10px rgba(116, 255, 0, 0.5) !important;
    user-select: none !important;
}

/* Panel główny */
#tw-script-panel {
    position: fixed !important; 
    z-index: 9999998 !important;
    width: 150px !important; 
    background-color: var(--bg-main) !important;
    border: 2px solid var(--border-color) !important;
    display: none; /* Skrypt powinien zmieniać na 'block' */
    flex-direction: column !important;
}

#tw-script-panel-header {
    background-color: var(--bg-header) !important;
    padding: 10px !important;
    font-weight: bold !important;
    border-bottom: 2px solid #ff003c !important;
    display: flex !important;
    justify-content: space-between !important;
}
